<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-ru">
<nav th:fragment="header" class="light-blue darken-3">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#/" class="brand-logo logo-nav">
                <img class="logo-nav" th:src="@{/resources/img/logo.png}" src="../img/logo.png"/>
            </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down" bs-active-link="">
                <li class="active"><a href="#/analytics">Analytics</a></li>
                <li><a href="#/users">Users</a></li>
                <li><a href="#/profile">Your profile</a></li>
                <li><a href="#/status">Your status</a></li>
                <li><a href="#/info">Info</a></li>
                <li class="nav-button-sign" style="background: none;">
                    <a href="#/signin" class="waves-effect waves-light btn light-blue">Sign
                        in</a>
                </li>
                <li style="background: none;">
                    <a href="#/signup" class="waves-effect waves-light btn light-blue">Sign up</a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo" bs-active-link="" style="transform: translateX(0px);">
                <li style="background: #0277bd;"><img style="width: 100$" class="logo-nav"
                                                      th:src="@{/resources/img/logo.png}" src="../img/logo.png"/></li>
                <li style="padding: 0" class="active"><a class="waves-effect waves-teal"
                                                         href="#/analytics">Analytics</a></li>
                <li style="padding: 0"><a class="waves-effect waves-teal" href="#/users">Users</a></li>
                <li style="padding: 0"><a href="#/profile">Your profile</a></li>
                <li style="padding: 0"><a href="#/status">Your status</a></li>
                <li style="padding: 0"><a class="waves-effect waves-teal" href="#/info">Info</a></li>
                <li style="padding: 0"><a class="waves-effect waves-teal" href="#/signin">Sign in</a></li>
                <li style="padding: 0"><a class="waves-effect waves-teal" href="#/signup">Sign up</a></li>
            </ul>
        </div>
    </div>
</nav>
</html>