<div class="container container-first">
    <div class="row">
        <div class="col s12">
            <h5> Тестовое задание</h5>
            <p>
                Создать Тестовый сайт с информацией о пользователях. <br/>
                На сайте должна быть авторизация, страница информации о пользователе, страница статуса пользователя и
                страница где он их меняет (Offline and Online статус).
            </p>
            <p>Требование к сайту: </p>
            <ol>
                <li>Использовать Базу данных</li>
                <li>Использовать Ajax (хотя бы на одной странице)</li>
                <li>Язык программирование не важен.</li>
            </ol>
            <p>Дополнительно: </p>
            <ol>
                <li>использовать чистый Ajax без Фреймворков типа JQuery, т.е. только средствами Javascript.</li>
                <li>Кроме статуса, отображать когда пользователь был в Сети(Online) в последний раз.</li>
                <li>Страница регистрации пользователя с проверкой правильности ввода.</li>
                <li>Можно что-то добавить по своему усмотрению. Совет: подумать, что нахватает на сайте.</li>
            </ol>
            <p>Каждый дополнительный пункт это +.</p>
        </div>
    </div>
</div>