<div class="container container-first">
    <div class="row">
        <form class="col s12">

            <div class="row">
                <div class="input-field col s12 l4 offset-l4">
                    <h5>User profile</h5>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 l4 offset-l4">
                    <!--Progress Bar-->
                    <div class="progress" ng-show="progressBar">
                        <div class="indeterminate"></div>
                    </div>
                </div>
            </div>

            <div ng-hide="progressBar">

                <!--Full Name-->
                <div class="row">
                    <div class="input-field col s12 l4 offset-l4">
                        <span style="color: darkgrey">Full Name:</span>
                        <input ng-model="user.fullName" type="text" class="validate"/>
                    </div>
                </div>

                <!--Email-->
                <div class="row">
                    <div class="input-field col s12 l4 offset-l4">
                        <span style="color: darkgrey">Email:</span>
                        <input ng-model="user.email" type="email" class="validate"/>
                    </div>
                </div>

                <!--Language-->
                <div class="row">
                    <div class="input-field col s12 l4 offset-l4">
                        <span style="color: darkgrey">Language:</span>
                        <input ng-model="user.language" type="text" class="validate" required=""/>
                    </div>
                </div>

                <!--Occupation-->
                <div class="row">
                    <div class="input-field col s12 l4 offset-l4">
                        <span style="color: darkgrey">Occupation:</span>
                        <input ng-model="user.occupation" type="text" class="validate"/>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 l4 offset-l4 center">
                        <a ng-hide="progressBarButton" ng-click="updateProfile(user)"
                           class="waves-effect waves-light btn">Update info</a>
                        <!--Progress Bar-->
                        <div ng-show="progressBarButton" class="progress">
                            <div class="indeterminate"></div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>