<div class="container container-first">
    <div class="row">

        <!--before login-->
        <form ng-hide="isLogin" class="col s12">

            <div class="row">
                <div class="input-field col s12 l6 offset-l3">
                    <h5 class="center">Create your personal account</h5>
                </div>
            </div>

            <!--Full Name-->
            <div class="row">
                <div class="input-field col s12 l4 offset-l4">
                    <input ng-model="user.fullName" id="fullName" type="text" class="validate"/>
                    <label for="fullName">* Full Name</label>
                </div>
            </div>

            <!--Email-->
            <div class="row">
                <div class="input-field col s12 l4 offset-l4">
                    <input ng-model="user.email" id="email" type="email" class="validate"/>
                    <label for="email">* Email</label>
                </div>
            </div>

            <!--Password-->
            <div class="row">
                <div class="input-field col s12 l4 offset-l4">
                    <input ng-model="user.password" id="password" type="password" class="validate"/>
                    <label for="password">* Password</label>
                </div>
            </div>

            <!--Language-->
            <div class="row">
                <div class="input-field col s12 l4 offset-l4">
                    <input ng-model="user.language" id="language" type="text" class="validate" required=""/>
                    <label for="language">* Language</label>
                </div>
            </div>

            <!--Date of Birth-->
            <div class="row">
                <div class="input-field col s12 l4 offset-l4">
                    <label for="dateU" style="position: initial;">* Date of Birth</label>
                    <input ng-model="user.dateBirth" id="dateU" type="date" class="datepicker"/>
                </div>
            </div>

            <!--Occupation-->
            <div class="row">
                <div class="input-field col s12 l4 offset-l4">
                    <input ng-model="user.occupation" id="occupation" type="text" class="validate"/>
                    <label for="occupation">Occupation</label>
                </div>
            </div>

            <!--Hint-->
            <div class="row">
                <div class="input-field col s12 l4 offset-l4">
                    <span style="color: red">Fields marked as * are mandatory fields!</span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 l4 offset-l4 center">
                    <!--Button-->
                    <a ng-hide="progressBar" class="waves-effect waves-light btn" ng-click="signUp(user)">Sign Up</a>
                    <!--Progress Bar-->
                    <div ng-show="progressBar" class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </div>

            </div>
        </form>

        <!--after login-->
        <form ng-show="isLogin" class="col s12">
            <div class="row">
                <div class="input-field col s12 l4 offset-l4 center">
                    You were successfully logged in to the application
                </div>
            </div>
        </form>

    </div>
</div>