<div class="container container-first">
    <div class="row">
        <form class="col s12">

            <div class="row">
                <div class="input-field col s12 l6 offset-l3">
                    <h5 class="center">Create your personal account</h5>
                </div>
            </div>

            <!--Full Name-->
            <div class="row">
                <div class="input-field col s12 l4 offset-l4">
                    <input id="fullName" type="text" class="validate"/>
                    <label for="email">* Full Name</label>
                </div>
            </div>

            <!--Email-->
            <div class="row">
                <div class="input-field col s12 l4 offset-l4">
                    <input id="email" type="email" class="validate"/>
                    <label for="email">* Email</label>
                </div>
            </div>

            <!--Password-->
            <div class="row">
                <div class="input-field col s12 l4 offset-l4">
                    <input id="password" type="password" class="validate"/>
                    <label for="password">* Password</label>
                </div>
            </div>

            <!--Languages-->
            <div class="row">
                <div class="input-field col s12 l4 offset-l4">
                    <input id="language" type="text" class="validate" required=""/>
                    <label for="language">* Languages</label>
                </div>
            </div>

            <!--Date of Birth-->
            <div class="row">
                <div class="input-field col s12 l4 offset-l4">
                    <label style="position: initial;">* Date of Birth</label>
                    <input type="text" class="datepicker"/>
                </div>
            </div>

            <!--Occupation-->
            <div class="row">
                <div class="input-field col s12 l4 offset-l4">
                    <input id="occupation" type="text" class="validate"/>
                    <label for="email">Occupation</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 l4 offset-l4 center">
                    <a class="waves-effect waves-light btn">Sign Up</a>
                </div>
            </div>

        </form>
    </div>
</div>