<div class="container container-first">

    <div class="row">

        <div class="input-field col s12 l4 offset-l4">
            <h5>Change your status</h5>
        </div>

        <div class="input-field col s12 l4 offset-l4">
            <div class="progress" ng-show="progressBar">
                <div class="indeterminate"></div>
            </div>
        </div>

        <div ng-hide="progressBar" class="input-field col s12 l4 offset-l4">
            The user was online: {{history.lastDate}}
        </div>

        <div ng-hide="progressBar" class="input-field col s12 l4 offset-l4">
            <!-- Switch -->
            <div class="switch">
                <label>
                    Offline
                    <input ng-model="history.status" ng-change="changeStatus()" type="checkbox"/>
                    <span class="lever"></span>
                    Online
                </label>
            </div>
        </div>

    </div>
</div>