<div class="container container-first">

    <div class="row">

        <div class="input-field col s12 l4 offset-l4">
            <h5>Change your status</h5>
        </div>

        <div class="input-field col s12 l4 offset-l4">
            <!-- Switch -->
            <div class="switch">
                <label>
                    Offline
                    <input type="checkbox"/>
                    <span class="lever"></span>
                    Online
                </label>
            </div>
        </div>
    </div>
</div>