<div class="container container-first">
    <div class="row">
        <div class="col s12">

            <h5>Managing users</h5>
            <p>This tab displays all users of the application.</p>


            <!--searchName-->
            <div class="row">
                <div class="input-field col s10 l4">
                    <input ng-model="searchName" id="search" type="text" class="validate"/>
                    <label for='search'>Search by name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12"><b>User table</b></div>
            </div>

            <!--Progress Bar-->
            <div class="progress" ng-show="progressBar">
                <div class="indeterminate"></div>
            </div>

            <table ng-hide="progressBar" class="responsive-table highlight bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Language</th>
                    <th>Occupation</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="user in users | customSearchFilter:searchName">
                    <td>{{user.id}}</td>
                    <td>{{user.fullName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.language}}</td>
                    <td>{{user.occupation}}</td>
                </tr>

                </tbody>
            </table>


        </div>
    </div>
</div>