<div class="container container-first">
    <div class="row">
        <div class="col s12">

            <h5>Managing users</h5>
            <p>This tab displays all users of the application.</p>


            <!--Full Name-->
            <div class="row">
                <div class="input-field col s10 l4">
                    <input id="search" type="text" class="validate"/>
                    <label for='search'>Search by name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12"><b>User table</b></div>
            </div>
            <table class="responsive-table highlight bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Language</th>
                    <th>Occupation</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>1</td>
                    <td>Eclair Ass</td>
                    <td>ww@ww.com</td>
                    <td>23</td>
                    <td>English</td>
                    <td>Teacher</td>
                </tr>

                </tbody>
            </table>


        </div>
    </div>
</div>